// modalStyles.scss

$primary-color: rgb(200, 75, 49);

.about {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 800px;
    height: 100%;
    z-index: 9900;
    pointer-events: none;
    transition: 200ms ease;
    z-index: 10000;
    right: 0%;
    pointer-events: auto;
    background-color: rgb(238, 238, 238);
    padding: 30px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    h1 {
        margin-top: 20px;
        color: rgb(252, 210, 27);
    }
}

.back {
    position: fixed;
    width: calc(100vw - 12px);
    height: 100vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 1;
    z-index: -6;
    transition: 200ms ease;
}

.close {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid rgb(100, 100, 117);
    cursor: pointer;
    transition: opacity 1000ms ease, border 200ms, background-color 200ms;
}

.about-container {
    background-color: rgb(238, 238, 238);
    padding: 30px;
}

.card {
    border-width: 0px  0px 0px 0.5rem;
    border-style: solid;
    border-color: $primary-color;
    border-image: initial;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    &.one {
        padding-bottom: 2rem;
        border-width: 0px  0px 0px 0.5rem;
        border-style: solid;
        border-color: $primary-color;
        border-image: initial;
        position: relative;
        padding-left: 30px;;
        .line {
            left: 0.5rem;
            // top: 9.8rem;
            bottom: -2px;
            transform: rotate(40deg);
            position: absolute;
            height: 3rem;
            width: 0.5rem;
            background-color: $primary-color;
        }

        .right {
            
        }
    }

}

.card-content {
    flex: 0.8 1 0%;
    color: black;

    .title {
        margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
    color: rgb(52, 103, 81);
    }

    .date {
        color: rgb(57, 62, 70);
    font-size: 1rem;
    margin-left: 1rem;
    }

    .detail {
        padding: 1rem 0px;
    }
}
