.bg-styledComponents_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -108px -10px;
}


.bg-scss_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -10px -78px;
}


.bg-redux_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -78px -78px;
}


.bg-react_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -176px -10px;
}


.bg-typescript_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -176px -78px;
}


.bg-nodejs_logo {
  width: 65px; height: 65px;
  background: url('resourcecss_sprites.png') -10px -146px;
}


.bg-express_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -10px -10px;
}


.bg-github_logo {
  width: 65px; height: 65px;
  background: url('css_sprites.png') -78px -146px;
}