:root {
  @font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
}

body {
  margin: 0;
  font-family: Noto Sans KR,sans-serif;
  line-height: normal
}

h1,h2,h3,h4,h5,h6,span {
  font-weight: 700;
  line-height: normal
}